@keyframes name {
    from{opacity: 0;}
    to{opacity: 1;}
}


#list p{
    display: flex;
    gap: 20px;
}

#list p span:nth-child(1){
   color: red;
   font-weight: 900;
}


form{
    display: flex;
    flex-direction: column;
}

form label{
    display: flex;
    flex-direction: column;
}

.wrong{
    color: red;
    font-size: 8px;
}